/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */
:root {
    --transparency: 1;
    --primary: hsla(350, 100%, 46%, var(--transparency));
    --background-image: linear-gradient();
}

* {
    box-sizing: border-box;
    --liveshift: 100%
}

body {
    background: #000;
    background-image: var(--background-image);
    font-family: "Helvetica Neue", Helvetica, "Inter Light";
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-size: 20px;
}

*:has(>.live) {
    position: relative;
}

.live {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(var(--liveshift), -35%);
    color: var(--primary);
    font-weight: bold;
    font-size: larger;
    border: 2px solid var(--primary);
    border-radius: 100px;
    padding: 3px 15px;
    animation: blink 0.5s alternate infinite;
}

@keyframes blink {
    from {
        opacity: 1;
        transform: translate(var(--liveshift), -35%) scale(1.01);
    }

    to {
        transform: translate(var(--liveshift), -35%) scale(0.99);
        opacity: 0.1;
    }
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 5px 0;
    transition: all 0.4s ease-in-out;
    background-color: var(--primary);
}

nav {

    display: grid;
    border-bottom: 0.5px solid var(--primary);

}

nav span {
    display: grid;
    grid-template-columns: 2fr 8fr;
    justify-content: space-between;
    justify-items: center;
}

nav img {
    height: 3em;
}

nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul button {
    font-size: large;
    background-color: transparent;
    color: white;
    border-radius: 0.7em 0.15em;
    padding: 0.5em;
    border: 0.5px solid var(--primary);
    transition: all 0.5s ease-in-out;
    margin: 0 1rem;
    cursor: pointer;
}

nav ul button:hover {
    background-color: var(--primary);
    --transparent: 0.5;
    /* border: 0.5px solid var(--background-color); */
    /* box-shadow: 0 0px 6px var(--primary); */
    /* padding: 0.505em; */
    animation: pulse 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        padding: 0.5em;
        box-shadow: 0px 0px 5px var(--primary);
    }

    to {
        padding: 0.505;
        box-shadow: 0px 0px 15px var(--primary);
    }
}

p {
    font-size: 1em;
    line-height: 1.5 !important;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    * {
        --liveshift: 100%;
    }



    nav {
        background-color: #000;
    }

    nav>span {
        z-index: 1000;
        position: absolute;
        left: -100%;
        height: min-content;
        top: 3rem;
        background-color: #000;
        width: 100%;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        height: calc(100vh - 2.9rem);
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    nav img {
        height: 6em;
    }

    nav ul {
        flex-direction: column;
    }

    nav>span.active {
        left: 0;
        z-index: 1000;
    }

    nav ul>li {
        margin: .5rem 0;
    }

    nav button {
        animation: glow 1s ease-in-out;
    }

    @keyframes glow {
        from {
            padding: 0.5em;
            box-shadow: 0px 0px 5px var(--primary);
        }

        to {
            padding: 0.505;
            box-shadow: 0px 0px 15px var(--primary);
        }
    }

    .hamburger {
        display: flex;
        justify-content: start;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        padding-top: 5px;
    }

    .hamburger span.active #b1 {
        transform: translateY(200%) rotate(45deg);
    }

    .hamburger span.active #b2 {
        opacity: 0;
    }

    .hamburger span.active #b3 {
        transform: translateY(-200%) rotate(-45deg);
    }

    .hamburger img {
        height: 3rem;
    }

    p {
        font-size: 20px;
    }
}

h2 {
    color: var(--primary);
}

a {
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}

main {
    margin: 0 0.5rem;
    font-size: 14px;
    width: 90vw;
}

@media screen and (min-width: 768px) {
    main {
        margin: 0 3rem;
        font-size: 16px;
    }

}

footer {
    bottom: 0;
    color: var(--primary);
}